<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout (~{::body},'index')}" xmlns:th="http://www.thymeleaf.org">

<body>

<div class="px-4 py-5 my-5 text-center">
    <img alt="" class="d-block mx-auto mb-4" height="64" src="/main_icon_64.png" width="64">
    <h1 class="display-5 fw-bold">Sir Bookmark</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">One place to manage all your bookmarks. </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/login">
                <button class="btn btn-primary btn-lg px-4 gap-3" type="button">Login</button>
            </a>
            <button class="btn btn-outline-secondary btn-lg px-4" type="button">Sign-up</button>
        </div>
    </div>
</div>

</body>
</html>