<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout (~{::body},'index')}" xmlns:th="http://www.thymeleaf.org">

<body>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img alt="Bootstrap Themes" class="d-block mx-lg-auto img-fluid" height="480" loading="lazy" src="bookmarks_large.jpg"
                 width="720">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Sir Bookmark</h1>
            <p class="lead">One central place for all your bookmarks. Create your own collections and organize your bookmarks. With easy
                import and export functionality + clients available for various platforms.</p>
            <p class="lead">All currently in development - so stay tuned.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/login">
                    <button class="btn btn-primary btn-lg px-4 me-md-2" type="button">Login</button>
                </a>
                <a href="/create_user">
                    <button class="btn btn-outline-secondary btn-lg px-4" type="button">Create a new account</button>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>